<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="dbconfig.properties">
        <!-- 开启占位符指定默认值 -->
        <property name="org.apache.ibatis.parsing.PropertyParser.enable-default-value" value="true"/>
        <property name="org.apache.ibatis.parsing.PropertyParser.default-value-separator" value=":"/>
    </properties>
    
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="jdbcTypeForNull" value="OTHER"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>


    <typeAliases>
        <!--
        别名处理器：为某个java类型起别名，不区分大小写
        type:指定要起别名的类型全类名；默认别名就是类名小写
        alias:指定新的别名
         -->
        <!--<typeAlias type="pwd.allen.entity.User"></typeAlias>-->

        <!--
        为某个包及子包下的所有类批量起别名，默认类名小写
        类可以使用@Alias注解指定新的别名，从而避免重名
         -->
        <package name="pwd.allen.entity"></package>
    </typeAliases>

    <environments default="mysql">

        <environment id="mysql">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>

        <environment id="oracle">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${oracle.driver}"/>
                <property name="url" value="${oracle.url}"/>
                <property name="username" value="${oracle.username}"/>
                <property name="password" value="${oracle.password}"/>
            </dataSource>
        </environment>

    </environments>

    <databaseIdProvider type="DB_VENDOR">
        <property name="SQL Server" value="sqlserver"/>
        <property name="DB2" value="db2"/>
        <property name="Oracle" value="oracle" />
        <property name="MySQL" value="mysql" />
    </databaseIdProvider>
    
    <mappers>
        <!--<mapper resource="pwd/allen/dao/UserDao.xml"/>
        <mapper class="pwd.allen.dao.UserDaoAnnotation"/>-->
        <package name="pwd.allen.dao"/>
    </mappers>
</configuration>
