package ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};
import com.cdc.common.orm.Pager;
import org.apache.ibatis.session.RowBounds;
import java.util.*;

/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}>
#else
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {

    /*
     * 分页查询
     */
    Pager<Supervision> selectByPager(Pager<Supervision> pager);

}
#end
