<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="1 seconds">

    <contextName>logback</contextName>
    <property name="log.path" value="logs"/>

    <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
    <property name="pattern" value="%contextName-%logger %d{HH:mm:ss.SSS}[%thread][%-5level] %msg%n"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
       <!-- <filter class="ch.qos.logback.classic.filter.ThresholdFilter" >
            <level>WARN</level>
        </filter>-->
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/basis.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>100</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>【%file:%line】${pattern}</pattern>
        </encoder>
    </appender>

    <logger name="pwd.allen.mybatis.dao" level="debug" additivity="false">
        <appender-ref ref="console"/>
<!--        <appender-ref ref="file"/>-->
    </logger>

    <root level="info">
        <appender-ref ref="console"/>
<!--        <appender-ref ref="file"/>-->
    </root>


</configuration>